{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mt-3">
                    <div class="card shadow">
                        <img class="card-img-top" src="{{ course.course_img.url }}" alt="">
                        <div class="card-body">
                            {% if course.is_premium %}
                               <span class="badge bg-success mb-2">Premium</span>       
                            {% else %}
                                <span class="badge bg-danger mb-2">Free</span>
                            {% endif %}
                            <h5 class="card-title">{{ course.course_name }}</h5>
                            <p class="card-text">{{ course.course_description }}</p>
                            <a href="{% url 'course' course.slug %}" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
